{{ define "content" }}
<article>
    <header>Sign Up</header>
    <form action="/auth/register" method="post">
        <fieldset>
            <label>
                Name
                <input name="name" type="text" autocomplete="name" required>
            </label>
            <label>
                Email
                <input name="email" type="email" autocomplete="email" required>
            </label>
            <label>
                Password
                <input name="password" type="password" autocomplete="new-password" required>
            </label>
        </fieldset>
        <input type="submit" value="Sign Up">
    </form>
</article>
{{ end }}